<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Restarant</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/restaurant.css">
</head>

<body>
    <%- include('../partials/navbar') %>

        <form action="/restaurants" method="post">
            <label for="name">Restaurant Name: </label>
            <input name="name" id="name" type="text">

            <label for="description">Restaurant Description: </label>
            <input name="description" id="description" type="text">

            <label for="logo">Restaurant Logo URL: </label>
            <input name="logo" id="logo" type="text">
            <br>
            <button type="submit">Add Restaurant</button>
        </form>
</body>

</html>