<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Restarant</title>
</head>
<body>
    <%- include('./partials/navbar') %>    

        <form action="/restaurants" method="post">
        <label for="name">Restaurant Name: </label>
        <input name="name" id="name" type="text">
        <br><br>
        <label for="logo">Restaurant Logo: </label>
        <input name="logo" id="logo" type="text">
        <br><br>
        <button type="submit">Create listing</button>
    </form>
</body>
</html>